// Typography
$body-font-family: Poppins, sans-serif !default;

// Colors
$purple-000: #007bff !default;
$purple-100: #0062cc !default;
$purple-200: #004a99 !default;
$purple-300: #003366 !default;
$blue-000: #4d6c7a !default;
$blue-100: #335767 !default;
$blue-200: #1a4254 !default;
$blue-300: #002d41 !default;

$body-heading-color: $blue-300 !default;
$body-text-color: $blue-100 !default;
