// Typography
$body-font-family: Poppins, sans-serif;

// Colors
$purple-000: #005f87;
$purple-100: #004f6e;
$purple-200: #003e55;
$purple-300: #002e3d;
$blue-000: #4d6c7a;
$blue-100: #335767;
$blue-200: #1a4254;
$blue-300: #002d41;

$body-heading-color: $blue-300;
$body-text-color: $blue-100;
$link-color: $purple-000;
$btn-primary-color: $purple-100;
$sidebar-color: #f3f7f9;
$feedback-color: #e6eff4;
