// Typography
$body-font-family: Poppins, sans-serif;

// Colors
$purple-000: #007bff;
$purple-100: #0062cc;
$purple-200: #004a99;
$purple-300: #003366;
$blue-000: #4d6c7a;
$blue-100: #335767;
$blue-200: #1a4254;
$blue-300: #002d41;

$body-heading-color: $blue-300;
$body-text-color: $blue-100;
