{%- macro key_symbol(class, slot) -%}
  {%- for key in class.unique_keys -%}
    {%- if slot.name in class.unique_keys[key].unique_key_slots -%}
      <span title="Maakt deel uit van de identificatie">⚿</span>&nbsp;
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{%- macro id_safe(v) -%}
{%- set allowed = 'abcdefghijklmnopqrstuvwxyz0123456789-' -%}
{%- for c in v|lower -%}
  {%- if c in allowed -%}
    {{ c }}
  {%- elif c == ' ' -%}
    -
  {%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro link(name) -%}
[{{ name }}](#{{ id_safe(name) }})
{%- endmacro -%}

{%- macro anchor(name) -%}
<span id="{{ id_safe(name) }}">{{name}}</span>
{%- endmacro -%}

{%- macro range(name) -%}
    {%- if name in schemaview.all_classes() -%}
        {%- set class = schemaview.get_class(name) -%}
        {%- if class.annotations.external_registry -%}
            {{ name }} ({{class.annotations.external_registry.value}})
        {%- else -%}
            {{ link(name) }}
        {%- endif -%}
    {%- else -%}
        {{ link(name) }}
    {%- endif -%}
{%- endmacro -%}

{%- macro compute_range(slot) -%}
    {%- if slot.any_of or slot.exactly_one_of -%}
        {%- for subslot_range in schemaview.slot_range_as_union(slot) | reject('eq', slot.range) -%}
            {%- if slot.exactly_one_of -%}
                {%- if not loop.first -%}
                    &nbsp;
                {%- endif -%}
                óf {{ range(subslot_range) }}
            {%- else -%}
                {{ range(subslot_range) }}
                {%- if not loop.last -%}
                    &nbsp;en/of&nbsp;
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        {{ range(slot.range) }}
    {%- endif -%}
{%- endmacro -%}

{%- macro get_label(url) -%}
    {%- set link_labels = {
        "https://wetten.overheid.nl/jci1.3:c:BWBR0009755": "Elektriciteitswet 1998",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037923": "Begrippencode gas",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037934": "Informatiecode elektriciteit en gas",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037936": "Meetcode gas",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037938": "Begrippencode elektriciteit",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037946": "Meetcode elektriciteit",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0037951": "Tarievencode elektriciteit",
        "https://wetten.overheid.nl/jci1.3:c:BWBR0050714": "Energiewet"
    } -%}
    {%- set ns = namespace(label=None) -%}
    {%- for prefix, label in link_labels.items() -%}
        {%- if url.startswith(prefix) -%}
            {%- set ns.label = label -%}
        {%- endif -%}
    {%- endfor -%}
    {{- ns.label -}}
{%- endmacro -%}

{%- macro source(element) -%}
{%- if element.source -%}
    {%- set label = get_label(element.source) -%}
    [{{ label if label != 'None' else '1' }}]({{ element.source }})
{%- endif -%}
{%- endmacro -%}

{%- macro see_also(element) -%}
{%- if element.see_also -%}
    {%- for url in element.see_also -%}
        {%- set label = get_label(url) -%}
        [{{ label if label != 'None' else loop.index }}]({{ url }}){% if not loop.last %}, {% endif -%}
    {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{% macro omschrijving(element) -%}
    {%- set parts = namespace(items=[]) -%}

    {# NBility #}
    {%- for a in element.annotations -%}
        {%- if a == 'nbility_function' -%}
            {%- set _ = parts.items.append('NBility-functie: [' ~ element.annotations[a].value ~ '](https://nbility-model.github.io/NBility-business-capabilities-Archi/?view=id-8becf2d90261476faa9d53240e6cf2c8)') -%}
        {%- endif -%}
        {%- if a == 'nbility_object' -%}
            {%- set _ = parts.items.append('NBility-object: [' ~ element.annotations[a].value ~ '](https://nbility-model.github.io/NBility-business-capabilities-Archi/?view=id-8becf2d90261476faa9d53240e6cf2c8)') -%}
        {%- endif -%}
    {%- endfor -%}

    {# meaning #}
    {%- if element.meaning -%}
        {%- set _ = parts.items.append('_' ~ gen.uri_link(element.meaning) ~ '_') -%}
    {%- endif -%}

    {# exact_mappings  #}
    {%- set mappings = schemaview.get_mappings(element.name).get("exact", []) -%}
    {%- if mappings -%}
        {%- set linked = [] -%}
        {%- for m in mappings -%}
            {%- set _ = linked.append(gen.uri_link(m)) -%}
        {%- endfor -%}
        {%- set markdown_line = '_' ~ linked | join(', ') ~ '_' -%}
        {%- set _ = parts.items.append(markdown_line) -%}
    {%- endif -%}

    {# description #}
    {%- if element.description -%}
        {%- set _ = parts.items.append('_' ~ element.description ~ '_') -%}
    {%- endif -%}

    {# source #}
    {%- if element.source -%}
        {%- set _ = parts.items.append('Bron: ' ~ source(element)) -%}
    {%- endif -%}

    {# see_also #}
    {%- if element.see_also -%}
        {%- set _ = parts.items.append('Zie ook ' ~ see_also(element)) -%}
    {%- endif -%}

    {# comments #}
    {%- if element.comments -%}
        {%- set _ = parts.items.append(element.comments | join('<br/><br/>')) -%}
    {%- endif -%}

    {# tijdlijnen #}
    {%- set tijdlijn_annotaties = [] -%}
    {%- for a in element.annotations -%}
        {%- if a.startswith('tijdlijn_') and element.annotations[a].value|string|lower == "true" -%}
            {%- set _ = tijdlijn_annotaties.append(a.replace('tijdlijn_', '')) -%}
        {%- elif a == 'levensduur' and element.annotations[a].value|string|lower == "true" -%}
            {%- if element.annotations.levensduur_begin and element.annotations.levensduur_einde -%}
                {%- set _ = tijdlijn_annotaties.append(a ~ ' (' ~ element.annotations.levensduur_begin.value ~ ', ' ~ element.annotations.levensduur_einde.value ~ ')') -%}
            {%- else -%}
                {%- set _ = tijdlijn_annotaties.append(a) -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if tijdlijn_annotaties -%}
        {%- set _ = parts.items.append('Tijdslijnen: ' ~ tijdlijn_annotaties|join(', ')) -%}
    {%- endif -%}

    {{ parts.items | join('<br/><br/>') }}
{%- endmacro -%}

---
title: "v{{ schema.version }}"
parent: "{% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}"
---

{: .warning }
Deze website is in opbouw. Pagina's kunnen onvolledige of onjuiste informatie bevatten.

# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}
{{ '{: .no_toc }' }}

{{ omschrijving(schema) }}

## Inhoud
{{ '{: .no_toc .text-delta }' }}
1. TOC
{{ '{:toc}' }}

---

{% if include_top_level_diagram %}
{# Diagramgeneratoren werken niet goed, dus uitgezet #}
{# ```{{ gen.mermaid_directive() }}
{{ gen.mermaid_diagram() }}
``` #}
{% else %}
![Diagram](model.drawio.svg)

<details>
<summary>Legenda</summary>
<a href="https://sefanja.github.io/nbnl-conceptuele-informatiemodellen/wegwijs.html">Wegwijs in de modellen</a>
</details>
{% endif %}

<details markdown="1">
<summary>LinkML</summary>

```yaml
{{ gen.yaml(schema) | escape }}
```

</details>

{% for class in gen.all_class_objects() | sort(attribute=sort_by) %}
{% if class.name != 'Any' and not class.annotations.external_registry %}

## {{class.name}}

{% if class.is_a %}
Specialisatie van {{link(schemaview.get_class(class.is_a).name)}}
{% endif %}

{{omschrijving(class)}}

{% set properties = [] %}
{% set relationships = [] %}
{% for slot in gen.get_direct_slots(class) %}
    {% set ranges = schemaview.slot_range_as_union(slot) %}
    {% set some_are_classes = ranges | select('in', schemaview.all_classes()) | list | length > 0 %}
    {% if some_are_classes %}
        {% set _ = relationships.append(slot) %}
    {% else %}
        {% set _ = properties.append(slot) %}
    {% endif %}
{% endfor %}

{% if properties %}
### Eigenschappen
{{ '{: .no_toc }' }}

| Eigenschap | Waardespecificatie | Omschrijving |
| :---  | :--- | :--- |
{% for slot in properties -%}
| {{key_symbol(class, slot)}}{{slot.name}} {{is_unique_key_slot}} | {{compute_range(slot)}}<br/>_{{gen.cardinality(slot)}}_ | {{omschrijving(slot)}} |
{% endfor %}
{% endif %}

{% if relationships %}
### Relaties
{{ '{: .no_toc }' }}

| {{class.name}} is ... | Omschrijving |
| :---  | :--- |
{% for slot in relationships -%}
| {{key_symbol(class, slot)}}{{slot.name}} {{compute_range(slot)}}<br/>_{% if slot.annotations.inverse_cardinality %}{{slot.annotations.inverse_cardinality.value }}{% endif %} → {{ gen.cardinality(slot) }}_ | {{omschrijving(slot)}} |
{% endfor %}
{% endif %}

{% endif %}
{% endfor %}

# Waardesoorten en waardelijsten
{{ '{: .no_toc }' }}

{% if gen.all_type_objects() %}
### Waardesoorten
{{ '{: .no_toc }' }}

| Waardesoort | Omschrijving | Gebaseerd op | Patroon |
| :--- | :--- | :--- | :--- |
{% for t in gen.all_type_objects() -%}
| {{anchor(t.name)}} | {{omschrijving(t)}} | {% if t.typeof %}{{link(t.typeof)}}{% else %}{{t.base}}{% endif %} | {% if t.pattern %}`{{t.pattern}}`{% endif %} |
{% endfor %}

{% endif %}

{% if gen.all_enum_objects() %}
### Waardelijsten
{{ '{: .no_toc }' }}

{% for e in gen.all_enum_objects()|sort(attribute=sort_by) %}
#### {{anchor(e.name)}}
{{ '{: .no_toc }' }}

{{omschrijving(e)}}

| Waarde | Omschrijving |
| :--- | :--- |
{% if e.permissible_values -%}
{% for pv in e.permissible_values.values() -%}
| {{anchor(pv.text)}} | {{omschrijving(pv)}} |
{% endfor -%}
{% else -%}
| {{e.name}} | _dynamisch_ |  |
{% endif -%}

{% endfor %}
{% endif %}
